.card{
    border-radius: 20px;
    background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  }
  .avatar{
    height: 50px;
    border-radius: 50%;
  }
  .fill-remaining{
    border: 1px;
    height: available;
  }
  .imgx{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .fill-remaining-space{
    flex: 1 1 auto;
    flex-direction: column;
  }
  .box{
    background-color: #f9d29d;
background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
    padding: 8px;
    border-radius: 16px;
  }
  