
<h4>Category</h4>

<select [(ngModel)]="category" (change)="filterExact('category', category)">
  <option value="PublicHealth">Public Health</option>
  <option value="ChildrenElderlyAndDisabled">Children,Elderly and Disabled</option>
  <option value="TrainingResearchAndEnvironment">Training,Reasearch and Environment</option>
  <option value="PoliticalAndHistorical">Political and Historical</option>
<!--  <option value="bird"></option>-->
<!--  <option value="mammal">Mammal</option>-->
<!--  <option value="fish">Fish</option>-->
</select>

<button *ngIf="category"
        (click)="removeFilter('category')">

  Remove filter
</button>

<!--<h4>Weight Greater Than</h4>-->

<!--<input type="number"-->
<!--       [(ngModel)]="weight"-->
<!--       (change)="filterGreaterThan('weight', weight)">-->

<!--<button *ngIf="weight"-->
<!--        (click)="removeFilter('weight')">-->

<!--  Remove filter-->
<!--</button>-->

<!--<h4>Endangered Species</h4>-->

<!--<input type="checkbox"-->
<!--       [(ngModel)]="endangered"-->
<!--       (change)="filterBoolean('endangered', endangered)">-->

<!--Endangered?-->

<h2>Certificateeess</h2>
<mat-card class="radius-20 bg-3 mat-elevation-z24">
    <div class="container-fluid">
      <div class="row">
        
        <div  class="mat-h3 quicksand font-weight-bolder text-white"
             style="margin-top: auto; margin-bottom: auto">
           monthly review
        </div>
        <div class="d-flex flex-grow-1 flex-auto"></div>
        <button class="no-outline text-white" mat-icon-button matTooltip="more info">
          <mat-icon>book</mat-icon>
        </button>
      </div>
      <!-- <div class="mat-subheading-1 quicksand text-white margin-5"><b
        class="text-accent">100</b> Freak Points
      </div> -->
      <div class="mat-subheading-2 quicksand text-white margin-5"><b
        class="text-accent">{{filteredCategories.length}}</b> Certificates
      </div>
    
    </div>
  </mat-card>

<div>{{filteredCategories.length}}</div>
<div *ngFor="let category of filteredCategories">
      <h6>{{category.category}}</h6>


          <div class="imagebox">
            <img [src]="category.certificateUrl" class="img-fluid">
            <span class="imagebox-desc">{{category.caption}}</span>
          </div>
    <!--  <img [src]="category.certificateUrl">-->
      <ul>
        <li>Category: {{category.category}}</li>
      </ul>
</div>
