<!-- <table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="card-img-top" *ngIf="i!=0">
        <img [src]="imageList[i].imageUrl" class="img-fluid">
        <div class="card-body">
            
             <p class="card-text">Tasks : {{imageList[3*i-1].tasks}}</p>
          <p class="card-text">Rules :{{imageList[3*i-1].rules}}</p> 
        </div>
      </div>
    </td>
    
  </tr>
</table> -->
  <div class= "container-fluid">
  <div *ngIf="imageList">
   <div class="row">
        <div *ngFor="let i of rowIndexArray" class="col-md-4">
          <div class="h-100" style="padding: 10px">
             <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" *ngIf="i!=0">
                    <img class="img-fluid card-img" [src]="imageList[i].imageUrl"> 
                    <div class="row flex-grow-1 fill-remaining-space"></div>
                    <h3>Task Description</h3>
                    <div class="mat-h3 quicksand margin-10">{{imageList[i].tasks}}</div>
                    <h3>Rules</h3>
                    <div class="mat-h3 quicksand margin-10">{{imageList[i].rules}}</div> 
                    <div class="form-group">
                        <div class="col-md-12">
                         <a routerLink="/environment/main/save" class="btn btn-primary btn-block float-right">Complete your Tasks </a>
                       </div>
                       </div>
            </mat-card> 
          </div>
        </div>
      </div> 
      </div>
      </div>
