
<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center">
    <!--      Main Card-->
    <div class="col-12 h-100">
      <div class="h-160 card-padding">
        <mat-card class="h-100 card-border mat-elevation-z22">
          <div class="d-flex flex-grow-1 h-100">
            <!--            Horizontal bar-->
            <div class="horizontal-bar h-100 flex-auto flex-column flex-grow-1 d-flex">
              <div style="height: 10px"></div>
              <a mat-icon-button class="no-outline" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
              </a>
              <div class="d-flex flex-grow-1 flex-auto flex-column"></div>
              <div style="margin-top: 200px">
                <a mat-mini-fab class="no-outline" matTooltip="Fitness Freaks"
                   style="background-color: #5E35B1; color: white" routerLink="/fitness/dashboard">
                  <mat-icon>double_arrow</mat-icon>
                </a>
                <div class="row" style="height: 20px"></div>
                <a mat-mini-fab class="no-outline" matTooltip="Volunteer Freaks"
                   style="background-color: #006064; color: white" routerLink="/volunteer/dashboard">
                  <mat-icon>spa</mat-icon>
                </a>
                <div class="row" style="height: 20px"></div>
                <a mat-mini-fab class="no-outline" matTooltip="Photography Freaks"
                   style="background-color: #880E4F; color: white" routerLink="/photography/dashboard">
                  <mat-icon>photo</mat-icon>
                </a>
              </div>
              <div class="d-flex flex-grow-1 flex-auto flex-column"></div>
            </div>

            <!--            Details Card-->
            <div class="body-details h-100 w-100 mat-elevation-z20">
              <div class="row h-100">
                <!--                Activity details-->
                <div class="h-100 col">
                  <!--                  Toolbar-->
                  
                  <div class="row" style="height: 20px"></div>
                  <!--                  Main Content-->
                  <div class="row" style="margin-left: 20px; margin-right: 10px;">
                    <div class="col">
                      <div *ngIf ="coming; else new">
                        <mat-card class="mat-elevation-z0 radius-20">
                            <div style="display: block">
                                <div class="row" style="margin: 10px">
                                    <div class="quicksand mat-h2 font-weight-bolder">Your Contribution To Environment</div>
                                  </div>
                                <canvas mdbChart
                                    [chartType]="chartType"
                                    [datasets]="chartDataset"
                                    [labels]="chartLabels"
                                    [colors]="chartColors"
                                    [options]="chartOptions"
                                    [legend]="true"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)" style="width:40rem; height:200px">
                                </canvas>
                              </div>
                        </mat-card>
                        </div>
                        <ng-template #new>
                            <mat-card class="mat-elevation-z0 radius-20">
                                <div style="display: block">
                                    <div class="row" style="margin: 10px">
                                        <div class="quicksand mat-h2 font-weight-bolder">Your Contribution To Environment</div>
                                      </div>
                                    <canvas mdbChart
                                        [chartType]="chartT"
                                        [datasets]="chartD"
                                        [labels]="chartL"
                                        [colors]="chartC"
                                        [options]="chartO"
                                        [legend]="true"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)" style="width:40rem; height:200px">
                                    </canvas>
                                  </div>
                            </mat-card>
                          </ng-template>
                        <br>
                      <mat-card class="mat-elevation-z0 radius-20">
                        <div class="row" style="margin: 10px">
                          <div class="quicksand mat-h2 font-weight-bolder">{{activity}} Details</div>
                        </div>
                        <!-- <google-chart [data]="rewardsChart"></google-chart> -->
                        <!-- <div class="row" style="margin: 10px 10px 5px;">
                          <div class="quicksand mat-h2 font-weight-bolder"></div>
                        </div> -->
                        
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            <div class="h-100" style="padding: 10px">
                              <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" (click)="claimrewards()">
                                <img class="img-fluid card-img" src="..//assets/uploadenv.svg">
                                <div class="row flex-grow-1 fill-remaining-space"></div>
                                <div class="mat-h3 quicksand margin-10">Claim Rewards</div>
                              </mat-card>
                            </div>
                          </div>
                        <!-- <div class="col-md-4">
                          <div class="h-100" style="padding: 10px">
                            <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" (click)="viewhistory()">
                              <img class="img-fluid card-img" src="..//assets/envdaily.svg">
                              <div class="row flex-grow-1 fill-remaining-space"></div>
                              <div class="mat-h3 quicksand margin-10">History</div>
                            </mat-card>
                          </div>
                        </div>   -->
                    
                      <div class="col-md-6">
                        <div class="h-100" style="padding: 10px">
                          <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" (click)="tasks()">
                            <img class="img-fluid card-img" src="..//assets/envlevels.svg">
                            <div class="row flex-grow-1 fill-remaining-space"></div>
                            <div class="mat-h3 quicksand margin-10">Daily Tasks</div>
                          </mat-card>
                        </div>
                      </div>  
                  </div>
                          
                        
                      </mat-card>
                    </div>
                  </div>

                </div>
                <!--                Aggregate Details-->
                <div class="h-160 d-none d-md-block d-xl-block d-lg-block col-sm-4">
                  <mat-card class="h-100 round-20 mat-elevation-z10">
                    <div class="container-fluid h-100" style="display: flex;flex-flow: column;">'
                      <!--                      Secondary Toolbar-->
                      <div class="row justify-content-center">
                        <div class="quicksand mat-h2 font-weight-bold" style="margin: auto 10px auto auto;">Other
                          Activities
                        </div>
                        <div class="d-flex flex-grow-1 flex-auto"></div>
                        <button mat-icon-button class="no-outline" [mat-menu-trigger-for]="appMenu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                      <div class="row" style="height: 20px"></div>
                      <!--                      Navigate to other activities-->
                      <a routerLink="/environment/cleanindia/upload" style="text-decoration: none">
                      <div class="row justify-content-center">
                         <div *ngFor="let activity of actitivites" class="col-md-12 ">
                           <div class="h-100" style="padding: 10px">
                             <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12">
                               <img class="img-fluid card-img" [src]="activity.img">
                               <div class="row flex-grow-1 fill-remaining-space"></div>
                               <div class="mat-h3 quicksand margin-10">{{activity.title}}</div>
                             </mat-card>
                           </div>
                         </div>
                      
                       </div>
                       </a>
                      <div class="row" style="height: 40px"></div>
                      <!--                      Agg Details and trends-->
                      <div style="flex:1">
                        <mat-card class="h-100 round-20 bg-grey mat-elevation-z0">
                          <div class="container-fluid">
                            <mat-card class="radius-20 bg-3 mat-elevation-z24">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="mat-h3 quicksand font-weight-bolder text-white"
                                       style="margin-top: auto; margin-bottom: auto">
                                    Statistics
                                  </div>
                                  <div class="d-flex flex-grow-1 flex-auto"></div>

                                </div>
                                <div *ngIf="coming; else newuser">
                                  <div class="name">
                                    {{rewards.xps}} Freak Points 
                                  </div>
                                  <div class="name">
                                    {{rewards.xps*8.33}} Carbon Emissions saved 
                                  </div>
                              </div>
                              <ng-template #newuser>
                                  <div class="name">
                                    0 Freak Points 
                                    </div>
                                    <div class="name">
                                      0 Carbon Emissions saved 
                                    </div>
                              </ng-template>
                              
                              </div>
                            </mat-card>
                            <div class="row" style="height: 30px"></div>
                            <!------modal rules here------------------------------------------>
                            <button type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample" style="background-color: #FFEE58" (click)="frame.show()"
                            mdbWavesEffect>Rewarding rules</button>
                          
                          <div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-notify modal-info" role="document">
                              <!--Content-->
                              <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                  <p class="heading lead">Become an Enviroment Freak</p>
                          
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </div>
                          
                                <!--Body-->
                                <div class="modal-body">
                                  <div class="text-center">
                                    <p>The natural environment encompasses all living and non-living things occurring naturally, meaning in this case not artificial. The term is most often applied to the Earth or some parts of Earth.</p>
                                  </div>
                                </div>
                          
                                <!--Footer-->
                                
                              </div>
                              <!--/.Content-->
                            </div>
                          </div>
                           <!--ends here--> 
                          </div>
                        </mat-card>
                      </div>
                      <div class="row" style="height: 20px"></div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!--User Menu-->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Log Out</button>
</mat-menu>
<!--Notifications Menu-->
<mat-menu #appMenu1="matMenu">
  <button mat-menu-item>Welcome!</button>
  <button mat-menu-item>Complete your goals!</button>
</mat-menu>
<div class="back"></div>

