   <div class="main">
   <div class="container">
       <h2>Choose your domain</h2>
        <div class="dashboard_item" (click)="open('jogging')">
            <img class="internal_logo" src="..//assets/jogging.png" alt="partner image">
            <h2>Fitness</h2>
        </div>
        <div class="dashboard_item" (click)="open('image')" >
            <img class="internal_logo" src="..//assets/photography.svg" alt="partner image">
            <h2>Photography</h2>
        </div>
        <div class="dashboard_item" (click)="open('environment')">
            <img class="internal_logo" src="..//assets/environment.svg" alt="partner image">
            <h2>Environment</h2>
        </div>
        <div class="dashboard_item" (click)="open('volunteer')">
            <img class="internal_logo" src="..//assets/volunteer.svg" alt="partner image">
            <h2>Volunteering</h2>
        </div>
    </div>
    <div class="global_chat" (click)="open('frex')">
        <p>Frex Wall</p>
    </div>
    </div>


