//@import "../../../../../variables";
//
//.chat-message {
//    padding: 1.5em;
//
//    img {
//        margin-right: 1em;
//        height: 100px;
//        width: 100px;
//    }
//    .name {
//        text-decoration: underline;
//        font-weight: 600;
//    }
//    .timestamp {
//        margin-bottom: 1.5em;
//        color: darken($light-grey, 15%);
//    }
//    .message {
//        font-size: 1.2em;
//    }
//}

@import "../../../../../../../variables";

.chat-message {
  // background-image: linear-gradient(to bottom right, #42d680, rgb(182, 134, 126));
  padding: 0.75em 1.5em;
  margin-bottom: 2vw;

  .image-wrapper {
    margin-right: 1em;
    height: 50px;
    width: 50px;

    img {
      height: 50px;
      width: 50px;
    }
  }
  .name {
    font-weight: 600;
    margin-right: 1em;
    font-size: 1.5em;
  }
  .timestamp {
    color: darken($light-grey, 60%);
    font-weight: 200;
    font-size: 1em;
  }
  .message {
    font-size: 1em;
    color: darken($grey, 60%);
    font-weight: 200;
    margin-top: 0.2em;
  }
}
