
.no-outline {
  outline: none;
}
.card {
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);


}
.container-fluid{
  background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
margin-left: -10px;
}


 