
<table *ngIf="certificateList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i==0">
        <a routerLink="/certificates/uploadCertificate">
          <img src="/assets/img/new_image.jpeg" class="img-fluid">
          <span class="imagebox-desc">Insert New Image</span></a>
      </div>
      <div class="imagebox" *ngIf="i!=0">
        <img [src]="certificateList[3*i-1].certificateUrl" class="img-fluid">
        <span class="imagebox-desc">{{certificateList[3*i-1].caption}}</span>
      </div>
    </td>
    <td *ngIf="certificateList[3*i]">
      <div class="imagebox">
        <img [src]="certificateList[3*i].certificateUrl" class="img-fluid">
        <span class="imagebox-desc">{{certificateList[3*i].caption}}</span>
      </div>
    </td>
    <td *ngIf="certificateList[3*i+1]">
      <div class="imagebox">
        <img [src]="certificateList[3*i+1].certificateUrl" class="img-fluid">
        <span class="imagebox-desc">{{certificateList[3*i+1].caption}}</span>
      </div>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
