@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");


.main {
  z-index: -1;
  width: 99vw;
  
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  padding: 4vw;
}

.bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  z-index: -2;
}
.mat-tab-label{
  width: 300px;
}

.bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  left: 0;
  top: 0;
  position: fixed;
}


.toprow {
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);

}

.mat-grid-list {
  min-height: calc(100% - 45vw);
}


  .toprow{
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
  }
  .mat-grid-list{
   min-height: calc(100% - 45vw);
  }

 .mat-fig {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
 align-items: flex-start;
  justify-content: left;
  height: 100%;
  padding: 0;
  margin: 0;
}


.first {

  position: absolute;
  display: flex;


  height: 100%;
  padding: 0;
  margin: 0;
}

.toplist {
  background: #74f2ce;
}


body, html {
  height: 100%;
  width: 100%;

  background: #4B4168;
  color: #333;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'Red Hat Display', sans-serif;
}

.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #4B4168

}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top3 .item {
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 9rem;
  height: 12rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  cursor: pointer;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pos {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.top3 .item .name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.top3 .item .score {
  opacity: 1;
}

.top3 .item .score:after {
  display: block;
  content: 'points';
  opacity: 0.5;
}

.top3 .item.one {
  width: 10rem;
  height: 15rem;
  padding-top: 3.5rem;
}

.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}

.top3 .item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list {
  padding-left: 2rem;
  margin: 0 auto;
}

.list .item {
  position: relative;
  display: flex;
  align-items: flex-start;
  background: white;
  height: 3rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
  background: #EAA786;
  -webkit-transform-origin: left;
  transform-origin: left;
  cursor: pointer;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: white;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.list .item .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.list .item .name {
  flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}

.list .item .green-text {
  margin-right: 2rem;
}

.list .item .score {
  margin-right: 1.5rem;
  opacity: 0.5;
}

.list .item .score:after {
  margin-right: 1rem;
  content: 'points';
  opacity: 0.5;
}

.list .item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list .item:hover .pos {
  opacity: 0.8;
}

.green-text {
  color: #4CAF50
}
.red-text{
  color: #f44336
}
