.card-padding {
  padding: 30px;
}

.back {
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #673ab7;
  background-image: linear-gradient(to bottom right, #673AB7, #9C27B0);
}

.card-border {
  padding: 0 !important;
  border-radius: 20px;
}

.horizontal-bar {
  padding-left: 3px;
  width: 47px;
  border-radius: 20px 0 0 20px;
}

.body-details {
  background-color: #cfd8dc;
  border-radius: 20px;
}

.no-outline {
  outline: none;
}

.round-20 {
  border-radius: 20px;
}

.avatar {
  height: 40px;
  margin: auto;
  border-radius: 50%;
}

.no-padding {
  padding: 0;
  margin: 0
}

.accent {
  background-color: #FF9800;
  color: black;
}

.primary {
  background-color: #673AB7;
  color: white;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

.bg-0 {
  background-image: linear-gradient(to bottom right, #CE93D8, #FFCC80);
}

.bg-1 {
  background-image: linear-gradient(to bottom right, #CE93D8, #ef9a9a);
}

.bg-2 {
  background-image: linear-gradient(to bottom right, #CE93D8, #81D4FA);
}

.bg-grey {
  background-color: #eceff1;
}

.bg-3 {
  background-image: linear-gradient(to bottom right, #673AB7, #9C27B0);
}
.margin-5{
  margin: 5px;
}
.text-accent{
  color: #FFEB3B;
}
.margin-vert-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.margin-horiz-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.green-text{
  color: #4CAF50
}

.red-text{
  color: #f44336;
  margin-left: 50px;
}



.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
