

<div class="main">
    <div class="sidebar">
        <h1>Frex</h1>
        <ul>
            <li>Fitness</li>
            <li>Environment</li>
            <li>Global</li>
            <li>Account</li>
        </ul>
    </div>
    <div class="user_content">
        <br/><br/><br/><br/>    
        <mat-tab-group dynamicHeight class="tabs">
                <mat-tab label="Profile">
                    <div class="example-small-box mat-elevation-z4">
                        <div>Hey there</div>
                        <img class="internal_logo" src="..//assets/levels.svg" alt="partner image">
                    </div>
                    <div class="example-small-box mat-elevation-z4">
                        <img class="internal_logo" mat-card-image src="..//assets/calories.svg" alt="partner image">
                    </div>
                    <div class="example-small-box mat-elevation-z4">
                        <img class="internal_logo" mat-card-image src="..//assets/streak.svg" alt="partner image">
                    </div>
                    <div class="example-graph-box mat-elevation-z4">
                            <canvas id="myChart" width="700" height="250"></canvas>
                        </div>
                </mat-tab>
                <mat-tab label="Community">
                    <div class="example-large-box mat-elevation-z4">
                    Large content
                    </div>
                </mat-tab>
                <mat-tab label="Rewards">
                        <div class="example-large-box mat-elevation-z4">
                        Large content
                        </div>
                </mat-tab>  

        </mat-tab-group>
    </div>    
</div>
